/*
* @Author: iMocco
* @Date:   2018-11-22 16:17:06
* @Last Modified by:   iMocco
* @Last Modified time: 2018-11-22 16:31:48
*/
.about-me{
	background: linear-gradient(90deg,#222325,#3b3c3f,#222325);
	position: absolute;
	top: 3.25rem;
	width: 100%;
	bottom: 0;
	text-align: center;
	padding-top: 4rem;
}

.about-title{
	font-family: fantasy;
	color: #ddd;
}
/*模拟光标效果*/
@keyframes blink {
	from { opacity: 0; }
	to { opacity: 1; }
}

.content::after {
	content: '|';
	animation: blink 1000ms infinite;
}