/*
* @Author: iMocco
* @Date:   2018-11-12 14:40:39
* @Last Modified by:   iMocco
* @Last Modified time: 2019-04-10 16:13:26
*/
.blogs{
	width: 100%;
	height: 100%;
	/*background: #eee;*/
	overflow-x: hidden;
}
.blog-main{
	display: -webkit-flex; /* Safari */
	display: flex;
	margin-left: 20px;
}
.blog-tags{
	display: flex;
	align-items: center;
	height: 200px;
	padding: 10px 20px;
	flex-wrap: wrap;
}
.tag{
	margin: 2px 5px;
}