#header {
  letter-spacing: 5px;
  margin: 50px auto 15px;
  text-align: center;
}
#header a {
  font-size: 15px;
  color: #444;
  text-decoration: none;
  transition: color 0.2s ease, border-color 0.2s ease;
  font-family: "Montserrat", "Helvetica Neue", "Hiragino Sans GB", "LiHei Pro", Arial, sans-serif;
  font-weight: 400;
}
footer {
  position: absolute;
  bottom: 0;
  padding: 3rem 0 2rem 0;
  margin-top: 5rem;
  background-color: #1e2022;
  color: #f0f5f9 !important;
  text-align: center;
  width: 100%;
  line-height: 36px;
  letter-spacing: 1px;
  font-family: "Source Sans Pro", "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", FontAwesome, sans-serif;
}
footer a {
  color: #fff;
  display: inline-block;
}
footer span {
  color: #fff;
}
/*
* @Author: iMocco
* @Date:   2018-11-07 16:16:12
* @Last Modified by:   iMocco
* @Last Modified time: 2019-04-12 17:20:53
*/
#home{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 7.78rem;
}
.home-nav {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	background-color: #c9d6df;
	color: #1e2022;
}
.home-nav-ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.home-nav-ul-li {
	line-height: 40px;
	font-size: 20px;
	font-family: cursive;
	text-align: center;
}
.home-nav-ul-li-a {
	color: #333;
	text-decoration: none;
}
.home-nav-ul-li-a:hover{
	color: #dfdfdf;
	text-decoration: line-through;
}
/*
* @Author: iMocco
* @Date:   2018-11-07 16:59:48
* @Last Modified by:   iMocco
* @Last Modified time: 2019-04-11 10:36:50
*/
/* 归档archive */

.archive {
	margin-bottom: 3rem;
	margin-top: 4rem;
	border: 1px solid transparent;
	font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
	width: 100%;
}
.page-title{
	/*font-size: 20px;*/
}
.page-title a:hover{
	color: inherit;
	text-decoration: none;
}
.blog-text-center{
	text-align: center;
	margin-bottom: 30px;
}
.archive-year{
	border-bottom: 1px solid #DCDFE6;
	margin: 30px 0 10px 0;
	padding-bottom: 15px;
	font-size: 20px;
	font-weight: 400;
	color: #303133;
}
.archive-page{
	margin-bottom: 5px;
	display: flex;
	justify-content: space-between;
	padding: 5px 0;
	font-size: 16px;
	margin-left: 20px;
	border-bottom: 1px dashed #fff;
	color: #606266;
	font-family: 'Courier New','Kaiti', 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
}
.archive-page:hover{
	border-bottom: 1px dashed #E4E7ED;
}
.article-pagi{
	border-top: 1px solid #ddd;
	text-align: right;
	margin-top: 30px;
	padding-top: 15px;
	display: flex;
	justify-content: center;
}
/*
* @Author: iMocco
* @Date:   2018-11-12 14:40:39
* @Last Modified by:   iMocco
* @Last Modified time: 2019-04-10 16:13:26
*/
.blogs{
	width: 100%;
	height: 100%;
	/*background: #eee;*/
	overflow-x: hidden;
}
.blog-main{
	display: -webkit-flex; /* Safari */
	display: flex;
	margin-left: 20px;
}
.blog-tags{
	display: flex;
	align-items: center;
	height: 200px;
	padding: 10px 20px;
	flex-wrap: wrap;
}
.tag{
	margin: 2px 5px;
}
/*
* @Author: iMocco
* @Date:   2018-11-12 15:02:57
* @Last Modified by:   iMocco
* @Last Modified time: 2018-11-22 16:07:28
*/
.article{
	margin:12px 0;
	width: 280px;
	background: #fff;
	transition: all .3s ease-out;
	transition-delay: .1s;
}
.article:hover {
	box-shadow: 5px 10px 10px -5px rgba(0,0,0,.2);
	margin-top: 10px;
	margin-left: -2px;
}
.article-img{
	width: 100%;
}
.article-footer{
	display: table;
	width: 100%;
	padding: 10px 15px;
	border-top: 1px solid #e8e8e8;
	background: #fbfbfb;
}
.article-main{
	position: relative;
	width: 100%;
	text-align: center;
}
.article-title{
	text-align: center;
}
.article-date{
}
.article-title-a{
	display: block;
	padding: 1em .5em .2em;
	font-weight: 400;
	line-height: 1.5em;
	text-align: center;
	font-size: 18px;
	color: #000;
	outline: none
}

.card-text{
	line-height: 1.4;
	font-size: 13px;
	color: #888;
	text-indent: 2em;
}
.article-bottom-bg{
	background: url(http://images.iamtaoxin.com/shanshui_1024.jpg) no-repeat 100% 0 #FFF;
	background-size: cover;
}
.article-top-bg{
	background: url(http://images.iamtaoxin.com/5a619311ce434_1024.jpg) no-repeat 100% 0 #FFF;
	background-size: 100%;
}


.js-masonry{
	width: 100%;
}

@media screen and (min-width: 320px){
	.blog-main{
		width: 320px;
	}
}

@media screen and (min-width: 620px){
	.blog-main{
		width: 620px;
	}
}

@media screen and (min-width: 920px){
	.blog-main{
		width: 920px;
	}
}
@media screen and (min-width: 1220px){
	.blog-main{
		width: 1220px;
	}
}
@media screen and (min-width: 1520px){
	.blog-main{
		width: 1520px;
	}
}
.post{
	padding-bottom: 100px;
	padding-top: 100px;
}
.card-body img{
	width: 100%;
}
.card{
	border: none;
	border-radius: 0 !important;
	box-shadow: 0 0 10px rgba(50, 50, 50, .17);
	font-family: 'Courier New', -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
	font-size: 16px;
	word-spacing: 2px;
	color: #666;
	margin: 0;
	word-break: break-all;
}
h1.title{
	font-weight: 400;
	color: #444;
	margin: 0 0 15px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: "Montserrat", "Helvetica Neue", "Hiragino Sans GB", "LiHei Pro", Arial, sans-serif;
}
h3.date{
	font-weight: 400;
	font-family: "Montserrat", "Helvetica Neue", "Hiragino Sans GB", "LiHei Pro", Arial, sans-serif;
	font-size: 13px;
	color: #999;
	margin: 0 0 30px;
	letter-spacing: 1px;
}
.card-title{
	text-align: center;
	/*border-bottom: 1px dashed #ddd;*/
}
/*
* @Author: iMocco
* @Date:   2018-11-22 16:17:06
* @Last Modified by:   iMocco
* @Last Modified time: 2018-11-22 16:31:48
*/
.about-me{
	background: linear-gradient(90deg,#222325,#3b3c3f,#222325);
	position: absolute;
	top: 3.25rem;
	width: 100%;
	bottom: 0;
	text-align: center;
	padding-top: 4rem;
}

.about-title{
	font-family: fantasy;
	color: #ddd;
}
/*模拟光标效果*/
@keyframes blink {
	from { opacity: 0; }
	to { opacity: 1; }
}

.content::after {
	content: '|';
	animation: blink 1000ms infinite;
}
pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: inherit;
}

pre,
code {
  background-color: #f5f5f5;
  border: 1px solid #ebebeb;
  width: 100vh;
}

code {
  padding: 0 5px;
  color: #c33;
  border-radius: 3px;
}

pre {
  display: block;
  padding: 0;
  padding: 1.25rem;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
  overflow: auto;
  color: #000;
}

pre code {
  padding: 0;
  color: inherit;
  white-space: inherit;
  background: inherit;
  border: 0;
}

kbd {
  padding: 2px 3px;
  color: #fff;
  background-color: #2a2a2a;
}

blockquote {
  display: block;
  padding: 5px 0 5px 15px;
  margin: 0 0 20px;
  margin: 0 0 1.25rem;
  line-height: 1.6;
  border-left: 5px solid #e22d30;
}

blockquote p:last-child {
  margin: 0;
}

blockquote footer {
  text-align: right;
}

sup,
sub {
  font-size: 10px;
  font-size: .625rem;
  font-style: normal;
}

sup {
  vertical-align: super;
}

sub {
  vertical-align: sub;
}

abbr[title] {
  text-decoration: none;
  cursor: help;
  border-bottom: 1px dotted #000;
}

q {
  font-style: italic;
}

address {
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
  font-family: "Consolas", Courier New, Courier, monospace;
  line-height: 1.5;
}

dl {
  margin: 0 0 10px 20px;
}

dt,
dd {
  display: list-item;
}

dt {
  font-weight: bold;
  list-style-type: square;
}

dd {
  margin-left: 20px;
  list-style-type: circle;
}

select {
  max-width: 100%;
}

body {
  margin: 0;
}
.page-title-link {
  color: #333;
  text-decoration: none;
}
.page-title-link:hover {
  text-decoration: underline;
}
.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
#container {
  width: 100%;
  height: 100%;
}
